.App {
  text-align: center;
  display: flex;
  align-items: center;
  height:100vh;
  background: lightskyblue;
  flex-direction: column;
  padding-top: 50px;
}

.escena{
  border-radius: 15px;
  border:  solid 3px lightseagreen;
  background-color: lightgreen;
  height:50px;
  display: flex;
  align-items: center;
  width:400px;
  margin:10px;
  justify-content: space-around;
  color: aliceblue;
  cursor: pointer;
}

button{
  cursor:pointer;
  border: aquamarine;
  height:50px;
  width:200px;
  font-size: 20px;
  padding:10px;
  margin:5px;
  border-radius: 10px;
}



.selected{
  border: solid 3px;
  background-color:  cornflowerblue;
  border-radius: 15px;
  height:50px;
  display: flex;
  align-items: center;
  width:400px;
  margin:10px;
  justify-content: space-around;
  color: aliceblue;
  cursor: pointer;
}